# Total registered deaths in Brazil

Builds the dataset of registered deaths by the civil registry offices in Brazil by state and month since 1970.

Source: [https://www.registrocivil.org.br/](https://www.registrocivil.org.br/)

In [1]:
import requests
import json

import pandas as pd

Unfortunatelly we can only get the data by month. The day of the `start_date` and `end_date` makes no difference.

In [2]:
URL = 'https://transparencia.registrocivil.org.br/api/record/death?start_date={}-{}-01&end_date={}-{}-01'

In [3]:
header = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'recaptcha': 'xxxxx',
    'X-CSRF-TOKEN': 'xxxxx',
    'X-Requested-With': 'XMLHttpRequest',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36',
    'X-XSRF-TOKEN': 'xxxxx',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Dest': 'empty',
    'Referer': 'https://transparencia.registrocivil.org.br/registros',
    'Accept-Language': 'pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7,es-ES;q=0.6,es;q=0.5'
}

In [4]:
df = pd.DataFrame(columns=['year', 'month', 'state', 'deaths'])

for year in range(1970, 2021):
    for month in range(1, 13):

        page = requests.get(URL.format(year, month, year, month), headers=header)
        content = json.loads(page.content)

        state_name = []
        state_total = []
        for state in content['data']:
            state_name.append(state['name'])
            state_total.append(state['total'])
        
        df = df.append(pd.DataFrame({'year': year, 'month': month, 'state': state_name, 'deaths': state_total}))

In [5]:
df.tail()

    year month state deaths
22  2020     9    RR     30
23  2020     9    SC   1566
24  2020     9    SP  11599
25  2020     9    SE    432
26  2020     9    TO    216

In [6]:
df.to_csv('deaths_brazil.csv', index=False)